@use "variable";

.sp-logo{
   position: fixed;
   top:0;
   left: 0;
   width: 100%;
   height: 59px;
   background-color: #fff;
   z-index: 200;
   img{
      width: 132px;
      height: 59px;
   }
}

.drawer-icon{
   width: 100px;
   height: 100px;
   background-color: variable.$main-color;
   cursor: pointer;
   position: fixed;
   transition: opacity .3s;
   z-index: 201;
   top: 0;
   right: 0;

   @include variable.mq(){
      width: 59px;
      height: 59px;

   }
   &:hover{
      opacity: .9;
   }
}
.drawer-icon-bars{
   width: 34px;
   height: 27px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   @include variable.mq(){
      width: 20px;
      height: 15px;
   }
}
.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3{
   position: absolute;
   height: 1px;
   width: 100%;
   background-color: #fff;
   top: 0;
}
.drawer-icon-bar2{
   top: 13px;
   @include variable.mq(){
      top: 7px;
   }
}
.drawer-icon-bar3{
   top: 26px;
   @include variable.mq(){
      top: 14px;
   }
}
.fixed-menu{
   width: 100px;
   position: fixed;
   z-index: 200;
   right: 0;
   top: 100px;
   li{
      width: 100%;
      height: 100px;
      a{
         display: inline-block;
         height: 100%;
         width: 100%;
         border: 1px solid variable.$main-color;
         background-color: #fff;
         text-align: center;
         &:hover{
            opacity: 0.9;
         }

         p{
            font-size: 12px;
            line-height: 1.5;
            color: variable.$gray;
            font-family: variable.$font1;
         }
      }
      
   }
}
.fixed-icon1{
   a{
      padding-top: 20px;
      img{
         width: 23px;
         height: 33px;
         margin-bottom: 2px;
      }
   }
}
.fixed-icon2{
   a{
      padding-top: 24px;
      text-align: left !important;
      padding-left: 26px;
      img{
         width: 35px;
         margin-bottom: 8px;
      }
   }

}
.fixed-icon3{
   a{
      padding-top: 20px;
      img{
         width: 34px;
         height: 30px;
         margin-bottom: 6px;
      }
   }
 
}