@use "variable";

.popular-inner-1{
   margin: 65px 130px 0 130px;
   @include variable.mq(tab){
      margin-left: 60px;
      margin-right: 60px;
   }
   @include variable.mq(){
      margin: 24px 0 64px 16px;
   }

}
.swiper-sp{
   overflow: hidden;
    width: 100%;
    position: relative;
    
   .swiper-slide{
      width: 100%;
   }

   .swiper-button-next,.swiper-button-prev{
      display: none;
   }

   @include variable.mq(){
      .swiper-slide{
         width: 294px !important;
         height: 516px;
      }
      .swiper-button-next,.swiper-button-prev{
         display: block;
         &::before{
            top: 8px;
            left: 8px;
         }
      }
   }
   .swiper-wrapper{
      @include variable.mq(pc){
         display: grid;
         gap: 24px;
         grid-template-columns: 1fr 1fr;
         .rank1{
            grid-column: 1 / 3;
         }
         
      }
      @include variable.mq(tab){
         display: grid;
         gap: 24px;
         grid-template-columns: 1fr 1fr;
         .rank1, .rank2, .rank3{
            grid-column: 1 / 3;
         }

      }
   }
}



.popular-ranking-wrapper{
   background-color: #fff;
   padding: 14px;
   @include variable.mq(){
      padding: 11px 8px;
      
   }
}
.popular-ranking{
   background-color: #fff;
   padding: 21px 26px;
   border: 1px solid variable.$main-color;

   @include variable.mq(){
      padding: 10px 9px;
      position: relative;
      height: 100%;

   }

   &.heart{
      &::before{
         top: 10px;
         right: 10px;
      }
      &::after{
         top: 15px;
         right: 10px;
      }
   }
}


.popular-rank{
   position: absolute;
   text-align: center;
   width: 46px;
   height: 43px;
   color: #fff;
   background-color: #C99700;
   top: 0;
   left: 24px;
   font-size: 12px;
   font-family: variable.$font1;
   padding-top: 4px;
   z-index: 100;

   span{
      font-size: 22px;
   }
   &::before{
      position: absolute;

   }
   &::after{
      position: absolute;
      content: "";
      left: 0;
      top: 99.9%;
      height: 0;
      width: 0;
      border-left: 23px solid #C99700;
      border-right: 23px solid #C99700;
      border-bottom: 17px solid transparent;
   }
}
.popular-rank-2{
   background-color: #C4C4C4;
   &::after{
      border-left: 23px solid #C4C4C4;
      border-right: 23px solid #C4C4C4;
      border-bottom: 17px solid transparent;
   }
}
.popular-rank-3{
   background-color: #BA6E40;
   &::after{
      border-left: 23px solid #BA6E40;
      border-right: 23px solid #BA6E40;
      border-bottom: 17px solid transparent;
   }
}
.popular-ranking-top{
   display: flex;
   position: relative;
   padding-bottom: 16px;
   vertical-align: center;
   @include variable.mq(){
      display: block;
   }
   &::after{
      position: absolute;
      content: "";
      width: 97%;
      height: 1px;
      background-color: variable.$gray;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @include variable.mq(){
         display: none;
      }
   }
}
.ranking-top-img{
   width: 50%;
   height: 294px;
   @include variable.mq(){
      width: 100%;
      height: 184px;
   }
   img{
      height: 100%;
      object-fit: cover;
   }
}
.ranking-top-text{
   width: 50%;
   padding-top: 26px;
   padding-left: 32px;

   @include variable.mq(){
      width: calc(100% - 14px);
      margin: -45px auto 4px;
      background-color: rgba(#fff, 0.88);
      padding: 14px;
      position: absolute;
      top: 188px;
      left: 50%;
      transform: translateX(-50%);
   }

   h4{
      font-family: variable.$font1;
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 34px;
      @include variable.mq(){
         font-size: 16px !important;
         padding-bottom: 6px;
         border-bottom: 1px solid variable.$gray;
         margin-bottom: 6px;
      }
   }

   .report-ctg{
      font-size: 14px;
      @include variable.mq(){
         font-size: 10px;
      }
   }
   .report-area{
      font-size: 14px;
      margin-bottom: 25px;
      @include variable.mq(){
         margin-bottom: 8px;
      }
      &::before{
         top: 2px;
      }
   }

}

.popular-ranking-bottom{
   padding: 0 22.5px 0;
   @include variable.mq(){
      position: absolute;
      bottom: 14px;
      padding: 0;
      width: 258px;
      .popular-readmore{
         text-align: right;
         margin-top: 16px;
      }
   }
}
.ranking-bottom-title{
   font-size: 20px;
   line-height: 50px;
   color: variable.$main-color;
   margin-top: 8px;
}
.ranking-bottom-text{
   font-size: 16px;
   line-height: 1.5;
   margin-top: 8px;
   display: -webkit-box;
  -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
}
.ranking-bottom-flex{
   display: flex;
   justify-content: space-between;
   margin-top: 11.5px;
   @include variable.mq(){
      display: block;
   }
}


.rank2, .rank3{

   .ranking-top-img{
      height: 226px;
      img{
         height: 100%
      }
   }
   .ranking-top-text{
      padding-top: 8px;
      padding-left: 24px;
   }
   h4{
      font-size: 20px;
      margin-bottom: 12px;
   }
   .report-area{
      margin-bottom: 12px;
   }
   .report-tags{
      gap: 4px;
   }
   .popular-ranking-bottom{
      padding: 0 0 20px 0;
      height: 245px;
      position: relative;
   }
   .ranking-bottom-flex{
      position: absolute;
      bottom: 0;
      width: 100%;
   }
   .ranking-bottom-title{
      line-height: 1.5;
   }
}

