@use "variable";

.top{
   width: 100%;
   height: 790px;
   background: url(../img/mv.png) no-repeat top center / cover;
   margin-bottom: 117px;
   position: relative;
   @include variable.mq(tab){
      height: 650px;
   }
   @include variable.mq(){
      margin-top: 59px;
      height: 620px;
      margin-bottom: 40px;
   }
}

.top-text{
   background-color: rgba(#fff, 0.91);
   text-align: center;
   width: 414px;
   margin-left: 145px;
   height: calc(100% - 60px);
   padding-top: 136px;
   @include variable.mq(tab){
      width: 360px;
      margin-left: 90px;
      padding-top: 112px;
   }
   @include variable.mq(){
      width: 240px;
      height: 288px;
      padding-top: 32px;
      position: absolute;
      bottom: 86px;
      left: 0;
      margin-left: 0;
   }
}

.top-lead{
   font-size: 16px;
   line-height: 1.5;
   color: variable.$gray;
   font-family: variable.$font3;
   @include variable.mq(){
      font-size: 13px;
   }
}

.top-title{
   font-size: 40px;
   letter-spacing: 0.1em;
   line-height: 1.5;
   padding-top: 27px;
   padding-bottom: 50px;
   margin-top: 40px;
   position: relative;
   font-family: variable.$font1;
   @include variable.mq(tab){
      font-size: 28px;
      margin-top: 17px;
      padding-top: 15px;
      padding-bottom: 17px;

   }
   @include variable.mq(){
      font-size: 20px;
      margin-top: 17px;
      padding-top: 15px;
      padding-bottom: 17px;

   }
   span{
      font-size: 50px !important;
      @include variable.mq(tab){
         font-size: 42px !important;
      }
      @include variable.mq(){
         font-size: 20px !important;
      }
      strong{
         color: variable.$main-color;
         font-size: 64px;
         @include variable.mq(tab){
            font-size: 54px;
         }
         @include variable.mq(){
            font-size: 37px;
         }
      }
   }
   &::after,
   &::before{
      position: absolute;
      content: "";
      width: 218px;
      height: 1px;
      background-color: variable.$gray;
      left: 50%;
      transform: translateX(-50%);
   }
   &::after{
      bottom: 0;
   }
   &::before{
      top: 0;
   }

}

.top-logo{
   width: 258px;
   margin-left: auto;
   margin-right: auto;

}

.top-buttons{
   display: flex;
   max-width: 100%;
   @include variable.mq(){
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
   }
}
.top-btn{
   width: 400px;
   height: 131px;
   text-align: center;
   @include variable.mq(tab){
      width: 320px;
   }
   @include variable.mq(){
      width: 50%;
      height: 86px;
   }
   a{
      margin-top: 15px;
      font-family: 'YuGothic';
      color: #fff;
      line-height: 1.5;
      display: inline-block;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border: 1px solid #fff;
      padding-top: 7px;
      position: relative;
      letter-spacing: .05em;
      @include variable.mq(){
         width: calc(100% - 12px);
         height: calc(100% - 12px);
         font-size: 14px;
         margin-top: 6px;
         text-align: left;
         padding-top: 5px;
      }
      p{
         @include variable.mq(){
            display: inline-block;
            text-align: center;
            margin-left: 16px;
         }
      }
      span{
         font-family: 'Zen Maru Gothic', sans-serif;
         font-size: 24px;
         @include variable.mq(){
            font-size: 16px;
         }
      }
      &::after{
         position: absolute;
         content: "";
         width: 12px;
         height: 23px;
         background: url(../img/arrow.png) no-repeat center center / contain;
         right: 74px;
         top: 50%;
         transform: translateY(-50%);
         @include variable.mq(){
            width: 7.5px;
            height: 14.5px;
            right: 20px
         }

      }
   }

}

.top-btn-plan{
   background-color: variable.$gray;
}
.top-btn-area{
   background-color: variable.$main-color;
}
